<style>

body{
	background-image: url("sunset.jpg");
	background-size: 110%;
    background-repeat: no-repeat;
	background-color:  #66E0FF ;
	text-align: center;
}
 h1{
	background-color:  white ;
	opacity: 0.4;
	height: 80px;
	margin:auto;
	text-align: center;
	padding: 20px 0px 25px 0px;

 }

 p{
 font-size: 20px;
 }

</style>
<h1>Hello Account </h1>
<p>ID: {{user.id}}</p>
<p>Username: {{user.username}}</p>
<p>Name:{{user.displayName}}</p>
