<style>
body{
	background-image: url("sunset.jpg");
	background-size: 110%;
    background-repeat: no-repeat;
	}
.facebook{
	position: absolute;
    top: 60%;
    left: 50%;
     margin-right: -50%;
    transform: translate(-50%, -50%)

}
.instagram{
	position: absolute;
    top: 50%;
    left: 50%;
     margin-right: -50%;
    transform: translate(-50%, -50%)

}
</style>
<a class="instagram" href="/auth/instagram"><img src="instagram-login-button.png" width="200" ></a>
<br>
<a class="facebook" href="/auth/facebook"><img src="login-with-facebook.png" width="200"></a>
